body {
  background-color: darkgray;
}

.side .title {
  font-size: clamp(20px, 8vw, 50px);
}

.info .title {
  font-size:medium;
}

.player {
  height: 400px;
  width: auto;
}

@media (max-width: 1100px) {
  .side {
    font-size: 90px;
  }
}

@media (max-width: 900px) {
  .side {
    font-size: 70px;
  }
}

@media (max-width: 600px) {
  .side {
    font-size: 50px;
  }
}