#page-wrapper {
  display: flex;
  flex-flow: column wrap;
  height: 100vh;
}
#left-panel {
  background: #BBB;
  min-height: 100vh;
  width: 300px;
  order: -1;
  flex: 0 0 auto;
  text-align: center;
}

.player {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 100px;
  width: auto;
}

#hinata {
  border: 2px solid black;
  filter: grayscale();
  margin-right: 30px;
}

#hinata:hover {
  border: 2px solid black;
  filter:none;
  transition: 0.5s;
}

#kageyama {
  border: 2px solid black;
  filter: grayscale();
}

#kageyama:hover {
  border: 2px solid black;
  filter:none;
  transition: 0.2s;
}

#banner, #footer, #content {
  width: calc(100% - 300px);
  min-height: auto;
}
#banner {
  background: #99C;
  height: 40px;
}
#footer {
  background: #C9C;
  height: 40px;
}
#content {
  display: flex;
  background: #9C9;
  flex: 1 1 auto;
  height: 60vh;
}

#parte1 {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100vh;
  background-color: yellow;
}

#parte2 {
  display: flex;
  flex: 1;
  background-color: lightcoral;
}

.info {
  object-fit:fill;
  height: 100%;
  width: 100%;
  transition: 1s;
}

.fade-out {
  opacity: 0;
}

body { margin: 0; }