#page-wrapper {
  display: flex;
  flex-flow: column wrap;
  height: 100vh;
}
#left-panel {
  background: black;
  min-height: 100vh;
  width: 300px;
  order: -1;
  flex: 0 0 auto;
  text-align: center;
}

.title {
  color: white;
}

.player {
  margin-top: 15px;
  margin-bottom: 5px;
  margin-right: 40px;
  height: 100px;
  width: auto;
  border: 2px solid white;
  filter: grayscale();
}

.player:hover {
  border: 2px solid black;
  filter:none;
  transition: 0.5s;
}

#banner, #footer, #content {
  width: calc(100% - 300px);
  min-height: auto;
}
#banner {
  background: #99C;
  height: 140px;
}

.banner {
  object-fit:fill;
  height: 100%;
  width: 100%;
}

#footer {
  background: purple;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content {
  display: flex;
  /*background: #9C9;*/
  flex: 1 1 auto;
  height: 70vh;
  z-index: -3;
  background-size: cover;
}

#parte1 {
  display: flex;
  width: 100vh;
  z-index: -1;
  justify-content: flex-end;
  align-items: flex-start;
}

#full-body {
  /*background-color: rgb(135, 71, 135);*/
  height: 70%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items:flex-start;
  z-index: 1;
  position: absolute;
  left: 300px;
  bottom: 40px;
}
#grafica{
  background-color: rgba(238, 131, 10, 0.1);
  width: 50%;
  height: 50%;
  position: relative;
}
#myChart{
  height: 200px;
  width: 200px;
}
#parte2 {
  display: flex;
  flex: 1;
}

.info {
  object-fit:fill;
  height: 100%;
  width: 100%;
  transition: 1s;
}

.fade-out {
  opacity: 0;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.animation-fadein {
  animation: fadeIn 0.3s
}

.animation-fadeout {
  animation: fadeOut 0.3s
}

body { margin: 0; }